.img_logo {
  width: 170px;
  height: 3em;
  background-size: 100% 100%;
  margin: 1em 0;
}
.index_column_btn {
  margin: 20px 5px;
}
.index_title_bg {
  background: url('../../images/index/title.png') center no-repeat;
  width: 88px;
  height: 30px;
}
.cm_bk01 {
  background: #f8effa;
}
.cm_bk02 {
  background: #808062;
}
.cm_cc01 {
  color: #a93ac3;
}
a:hover {
  color: #ad44c6!important;
}
.scaleImg {
  overflow: hidden;
}
.scaleImg img:hover {
  -webkit-transform: scale(1.35, 1.35);
  -moz-transform: scale(1.35, 1.35);
  -ms-transform: scale(1.35, 1.35);
  transform: scale(1.35, 1.35);
  -webkit-transition: transform 0.5s;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  transition: transform 0.5s;
}
.mob_menu {
  width: 40px;
  height: 30px;
  margin: 9px;
}
.search_img {
  margin: 12px auto;
  width: 22px;
  height: 22px;
}
.search_h1 {
  height: 150px;
}
.err_img {
  width: 628px;
  height: 444px;
  float: none;
  margin: 0 286px;
}
.err_txt {
  float: left;
  width: 720px;
  margin-left: 480px;
}
.page_fc {
  margin: 0 75px!important;
}
@media (max-width: 768px) {
  .img_logo {
    margin: 0;
  }
  .err_img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .err_txt {
    width: 100%;
    margin-left: 0;
  }
  .page_fc {
    margin: 0 auto;
  }
}
