
/*background*/
.cm_b01{
    background:rgb(47,61,67);
}
.cm_b02{
    background:rgb(30,43,53);
}
.cm_b03{
    background:rgb(28,43,52);
}
.cm_b04{
    background:rgb(23,37,46);
}


/*color*/
.cm_c01{
    color:rgb(143,150,155);
}
.cm_c02{
    color:rgb(215,219,222);
}
.cm_c03{
    color:rgb(158,80,57);
}
.cm_c04{
    color:rgb(250,106,58);
}
.cm_c05{
    color:rgb(73,130,74);
}
.cm_c06{
    color:rgb(131,245,101);
}
.cm_c07{
    color:rgb(90,101,107);
}
.cm_c08{
    color:rgb(73,84,92);
}
.cm_c09{
    color:rgb(39,52,61);
}


/*border*/
.cm_bt1c01 {
    border-top: 1px solid rgb(21,35,44) !important;
}
.cm_br1c01 {
    border-right: 1px solid rgb(21,35,44) !important;
}
.cm_bb1c01 {
    border-bottom: 1px solid rgb(21,35,44) !important;
}
.cm_bl1c01 {
    border-left: 1px solid rgb(21,35,44) !important;
}

.cm_bb1c02 {
    border-bottom: 1px solid rgb(81,93,99) !important;
}
.cm_bt2c02 {
    border-top: 2px solid rgb(81,93,99) !important;
}
.cm_bb2c02 {
    border-bottom: 2px solid rgb(81,93,99) !important;
}

.cm_bb1c03 {
    border-bottom: 1px solid rgb(33,47,57) !important;
}


.cm_img01{
    background: url('../../images/aiplat/test/01.png') center no-repeat;
}
.cm_img02{
    background: url('../../images/aiplat/test/02.png') center no-repeat;
}
.cm_img03{
    background: url('../../images/aiplat/test/03.png') center no-repeat;
}
.cm_img04{
    background: url('../../images/aiplat/test/04.png') center no-repeat;
}
.cm_img05{
    background: url('../../images/aiplat/test/05.png') center no-repeat;
}
.cm_img06{
    background: url('../../images/aiplat/test/06.png') center no-repeat;
}

.cm_h001{
    height:100%;
}
.cm_h002{
    height:50%;
}
.cm_mob_mb3{
    margin-bottom:0;
}
@media (max-width: 768px) {
    .cm_h001{
        height:auto;
    }
    .cm_h002{
        height:auto;
    }
    .cm_mob_mb3{
        margin-bottom:3em;
    }
}