.message {
  -webkit-border-radius:1em;
  border-radius:1em;
}
@mixin box-sizing ($sizingV) {
    -webkit-box-sizing:$sizingV;     
       -moz-box-sizing:$sizingV;
            box-sizing:$sizingV;
}
$c1:#ddd;
$c2:#555;
.bk1{
	background:#fff;
}
@mixin bs01($c){
	box-shadow:5px 5px 5px $c;
}
.kk{
	@extend .message;
	border:1px solid $c1;
	@include box-sizing(border-box);
	color:$c2;
	@extend .bk1;
	@include bs01(#ccc);
}